# ===========================
# Default Collab Ignore Rules
# ===========================

# OS Generated
# ============
.DS_Store
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini

# Visual Studio / MonoDevelop generated
# =====================================
[Ee]xported[Oo]bj/
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# Unity generated
# ===============
[Oo]bj/
[Bb]uild/*
sysinfo.txt
*.stackdump

# Keep all readme's (mostly used to keep folder structure for builds)
!Build/Oculus PC VR/
Build/Oculus PC VR/*
!Build/Oculus PC VR/Release/
Build/Oculus PC VR/Release/*
!Build/Oculus PC VR/Release/Win64/
Build/Oculus PC VR/Release/Win64/*
!Build/Oculus PC VR/Release/Win64/README.md
!Build/Oculus Quest/
Build/Oculus Quest/*
!Build/Oculus Quest/README.md
!Build/Steam VR/
Build/Steam VR/*
!Build/Steam VR/README.md
!Build/Unity Package/
Build/Unity Package/*
!Build/Unity Package/README.md
# Keep inno installer scripts
!Build/Oculus PC VR/Installer/installer.iss